extends layout

block content
	div.ui.inverted.segment(style="border-radius: 0px; width:100%; height:100%; padding:0; margin:0")
		div.ui.inverted.borderless.menu(style="margin:0;border-radius:0")
			div.item
				div.ui.dropdown(id="channel" style="height:100%")
					div.ui.inverted.icon.button(style="width:100px") Channel
						i.dropdown.icon
					div.menu
						div.active.item(data-value="1" style="width:100px") 1
						div.item(data-value="2") 2
						div.item(data-value="3") 3
						div.item(data-value="4") 4
			div.item(style="width:200px")
				div.ui.icon.buttons(style="width:100%")
					button.ui.button(id="play")
						i.play.icon
					button.ui.button(id="pause")
						i.pause.icon
					button.ui.active.button(id="stop")
						i.stop.icon
			div.right.item
				div.ui.inverted.button(id="signin" style="width:80px; margin-left:15px") 登陆
				div.ui.inverted.button(id="signup" style="width:80px; margin-left:15px") 注册
				div.ui.inverted.button(id="save" style="width:80px; margin-left:15px") 保存
		canvas(id="canvas")

	div.ui.basic.modal(id="progress-modal")
		div.ui.inverted.orange.progress(id="loading" data-value="1" data-total="88")
			div.bar
				div.progress
			div.label Loading Sources

	div.ui.basic.modal(id="saving-modal")
		div.ui.icon.huge.header
			i.massive.checkmark.icon
			h1.header Saved

	div.ui.small.modal(id="signin-modal")
		div.header
		div.content(style="width:300px; margin:auto")
			form.ui.form
				div.field
					label 账号
					input.username(placeholder="账号或邮箱")
				div.field
					label 密码
					input.password(type="password")
		div.actions(style="text-align:center")
			div.ui.green.button(style="width:30%") 登陆

	div.ui.small.modal(id="signup-modal")
		div.header
		div.content(style="width:300px; margin:auto")
			form.ui.form
				div.field
					label 邮箱
					input.username(placeholder="邮箱")
				div.field
					label 密码
					input.password(type="password")
				div.field
					label 密码确认
					input.confirm(type="password")
		div.actions(style="text-align:center")
			div.ui.green.button(style="width:30%") 注册

	script.
		window.spectrum = !{JSON.stringify(spectrum)};

	script(src="libs/createjs/createjs-2015.11.26.min.js")
	script(src="javascripts/editor/music.js")
	script(src="javascripts/editor/data.js")
	script(src="javascripts/editor/canvas.js")