footer
    div.footer
        div.ui.inverted.vertical.footer.segment
            div.ui.container(style='margin: 4em 0 4em 0')
                div.ui.stackable.inverted.divided.qual.grid
                    div.three.wide.column
                        div.ui.inverted.header 介绍
                        div.ui.inverted.link.list
                            a.item(href="https://github.com/ValenW/Online-Studio/wiki/About-us") 关于我们
                            a.item(href="https://github.com/ValenW/Online-Studio/wiki/About-us") 联系我们
                    div.three.wide.column
                        div.ui.inverted.header 帮助
                        div.ui.inverted.link.list
                            a.item(href="https://github.com/ValenW/Online-Studio/wiki") 帮助文档
                            a.item(href="https://github.com/ValenW/Online-Studio/issues") Bug汇报
                    div.three.wide.column
                        div.ui.inverted.header 项目
                        div.ui.inverted.link.list
                            a.item(href="https://github.com/ValenW/Online-Studio") GitHub
