header
    div.header(style="background-image:url(/resources/images/header_background.jpg);",max-height="100%")
        //-var login = true;
        div.ui.secondary.menu(style="height:50px;background-color:rgba(128,128,128,0.6);")
            div.left.menu
                a.item(style="color:#fff",href="/") Home
                a.item(style="color:#fff",href="/editor") Editor
            div.right.menu
                if user
                    //登陆成功
                    div.item
                        img.ui.avatar.image(height="35px",src='#{user.profile}')
                        span(style="color:#fff") #{user.username}
                    a.item(href="/user?user_id=#{user._id}",style="color:white") 个人空间
                    a.item(href="/logout",style="color:#fff") 退出登陆
                else
                    a.item(href="/login",style="color:#fff") 登陆
                    a.item(href="/signup",style="color:#fff") 注册
        div.ui.vertical.masthead.center.aligned.segment(style='width:100%; height:155px;')
            div.ui.text.container(style='margin-top:60px')
                h1.ui.inverted.header Online Studio
            div.item(style='position:relative; left:480px;')
                div.ui.icon.input
                    input(type='text' placeholder='Search...')
                    i.search.link.icon

