header
    link(rel='stylesheet', href='/stylesheets/home.css')
    div.header
        div.ui.inverted.vertical.masthead.center.aligned.segment
            div.ui.text.container
                h1.ui.inverted.header Online Studio