div.header
    div.ui.inverted.vertical.masthead.center.aligned.segment
        div.ui.text.container
            h1.ui.inverted.header Online Studio
    div.container
        div.ui.large.secondary.pointing.menu
            a.active.item 主页
            each type in types
                a.item #{type}
            div.search.right.menu
                div.item
                    div.ui.icon.input
                        input(type='text' placeholder='Search...')
                        i.search.link.icon