doctype html
html
  head
    title= title
    //- link(rel='stylesheet', href='/stylesheets/semantic.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    
    script(src="javascripts/jquery-1.12.3.min.js")
    //- script(src="javascripts/semantic.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.js")
