extends layout

block content
  a(href="/midi/0", onclick="MIDIjs.play('/midi/0');") Play
  a(href="/midi", onclick="MIDIjs.stop();") Stop
  button(onclick='test()') Test OneNote


  script(src="http://www.midijs.net/lib/midi.js")
  script(src="javascripts/JZZ.js")
  script(src="javascripts/OneNote.js")

    