extends layout

block content
	link(rel='stylesheet', href='/stylesheets/music_info.css')
	include header

	div.ui.form
		div.ui.divider
		div.item
			div.lf
				p 标题
			div.rf
				input.title-input(type='text' placeholder='')
		div.ui.divider
		div.item
			div.lf
				p 上传图片
			div.rf
				input.cover-input(type='file')
		div.ui.divider
		div.item
			div.lf
				p 作品说明
			div.rf
				textarea.intro-input
		div.ui.divider
		div.item
			div.lf
				p 标签
			div.rf
				div.ui.checkbox
					input.hidden(type='checkbox' tabindex='0')
					label 抒情
				div.ui.checkbox
					input.hidden(type='checkbox' tabindex='1')
					label 恐怖
				div.ui.checkbox
					input.hidden(type='checkbox' tabindex='2')
					label 空灵
				div.ui.checkbox
					input.hidden(type='checkbox' tabindex='3')
					label 浪漫
		div.ui.divider
		//- div.inline.fields
		//- 	label 标题
		//- 	input(type='text' placeholder='')
		//- div.inline.fields
		//- 	label 上传图片
		//- 	input(type='file')
		//- div.inline.fields
		//- 	label 作品说明
		//- 	textarea
		//- div.inline.fields
		//- 	label 标签
		//- 	div.ui.checkbox
		//- 		input.hidden(type='checkbox' tabindex='0')
		//- 		label 抒情
		//- 	div.ui.checkbox
		//- 		input.hidden(type='checkbox' tabindex='0')
		//- 		label 恐怖
		//- 	div.ui.checkbox
		//- 		input.hidden(type='checkbox' tabindex='0')
		//- 		label 空灵
		//- 	div.ui.checkbox
		//- 		input.hidden(type='checkbox' tabindex='0')
		//- 		label 浪漫

	include footer
