extends layout

block content
  form(class="ui form signup-form" action="/signup" method="POST")
    div(class="field")
      label Username
      div(class="ui left icon input")
        input(type="text" placeholder="Username" name="username")
        i(class="user icon")
    div(class="field")
      label Password
      div(class="ui left icon input")
        input(type="password" placeholder="Password" name="password")
        i(class="lock icon")
    div(class="field")
      label Confirm Password
      div(class="ui left icon input")
        input(type="password" placeholder="Password" name="confirm_password")
        i(class="lock icon")
    div(class="ui blue submit button") Sign Up
  
  if error
    div(class="ui error message")
      ul.list
        li #{error}

  script(src="javascripts/form.js" defer)
