div.sticky-menu
    div.ui(style="margin-top:100px;margin-left:1206.5px;")
        div.ui.middle.aligned.animated.list
            a.ui.icon.button(href='#top',style="height:40px;width:40px;")
                i.big.fitted.caret.up.icon(style='margin-top:-6px;margin-left:-6px;')