.left_head{
    width: 40%;
    height: 100%;
    text-align: center;
    padding-top: 102.5px;
    padding-left: 82px;
    display: inline-block;
}
.message{
    width: 40%;
    display: inline-block;
    margin-left: 50px;
    padding-top: 80px;
    vertical-align: top;
}
.myimage{
    height: 150px !important;
    width: 300px;
}

.name{
    font-size: 3rem;
    display: block;
    height: 40px;
}
.detail_message{
    display: block;
    font-size: 1rem;
    height:160px;
}