.left_head{
    width: 40%;
    height: 100%;
    text-align: center;
    padding-top: 72.5px;
    padding-left: 165.5px;
    display: inline-block;
}
.message{
    width: 40%;
    display: inline-block;
    margin-left: 50px;
    padding-top: 80px;
    vertical-align: top;
}
.myimage{
    height: 250px !important;
    width: 250px !important;
}

.name{
    font-size: 3rem;
    display: block;
    height: 40px;
}
.detail_message{
    padding-top: 6px;
    display: block;
    font-size: 1rem;
    height:75px;
}
.detail_music{
    display: block;
    font-size: 1rem;
    height:30px;    
}

li :hover{
    cursor: pointer;
}