.top_view{
    width: 800px;
    height: 300px;
    margin: 30px auto 30px auto;
}
.top_view .music_poster{
    width: 60%;
    height: 100%;
    /*background-color: green;*/
    display: inline-block;
    vertical-align:top;
    max-height: 100%;
}

.top_view .music_poster .myimage{
    max-height: 100% !important;
}

.top_view .music_detail{
    width: 30%;
    height: 60%;
    display: inline-block;
    margin: 35px 0px 0px 40px;
    vertical-align:top;
}
.top_view .music_detail .evaluate{
    height: 0%;
    width: 100%;
    display: inline-block;
    vertical-align:top;
}
.top_view .music_detail .music_message{
    height: 70%;
    width: 100%;
    display: inline-block;
    vertical-align:top;
}
.middle_view{
    width: 800px;
    height: 50px;
    margin: 20px auto 30px auto;
    margin-top: 20px;
}

.middle_view .middle_message{
    width: 100%;
    height: 100%;
}

.middle_view .middle_message .middle_button{
    width: 33%;
    height: 100%;
}

.music_detail .right_message{
    width: 100%;
    height: 50%;
    display: inline-block;
    margin-top: 55px;
}
.middle_view .right_message .right_button{
    width: 50%;
    height: 100%;
}

.comment_head{
    width: 80px;
    height: 80px;
    margin-top: 0px;
    margin-right: 20px;
    display: inline-block !important;
    align-content: center !important; 
    vertical-align:top;  
}

.comment .all_content{
    width: 65%;
    height: 80px;
    display: inline-block; 
    align-content: center !important;
    vertical-align:top;
}

.comment .all_content .name{
    margin-bottom: 5px;
    font-weight: bold;
    color: #6d757a;
}

.comment .all_content .content{
    margin-bottom: 5px;
    height:57px;
}

.comment .all_content .message{
    margin-left: -10px;
}

.comment .all_content .message .qua{
    margin-left: 10px;
    color: #aaa;
}

.ui .circular .avatar .image .pos{
    margin-left: 10px;
    width:80px !important;
    height: 80px !important;
}

.pos{
    margin-left: 10px;
    width:80px !important;
    height: 80px !important;
}

.comment .all{
    width: 20%;
    height: 80px;
    display: inline-block;
    align-content: center;
    text-align: center;
    vertical-align:top;
}

.bottom_view .introduction{
    height: 80px;
}

.bottom_view .send_comment{
    height: 80px;
}

.bottom_view .divideline{
    width: 650px;
}

.bottom_view .comment{
    padding-top: 20px;
    height: 100px;
}

.comment .all .cha{
    margin-top: 20px;
}

.next_page{
    text-align: right;
    padding-right: 200px;
}

.bottom_view{
    width: 800px;
    margin: 20px auto 30px auto;
    margin-top: 20px;
}

.submit-textarea{
    width: 40%;
    height: 80px;
    display: inline-block; 
    align-content: center !important;
    vertical-align:top;    
}

.submit-button{
    margin-left: 10px;
    width: 15%;
    height: 80px;
    display: inline-block;
    align-content: center;
    text-align: center;
    vertical-align:top;
}

.page_a{
    margin-left: 5px;
    /*color:gray;*/
}

.bottom_view .description{
    overflow-wrap: break-word;
}