#sign-form-container {
    position: relative;
    width: 800px;
    min-height: calc(100% - 219px - 212.453px);
    margin: 0 auto;
}
#error-message-block {
    width: 800px;
    margin: 0 auto 20px auto;
}