
.login-form {
  width: 90%;
  max-width: 400px !important;
  height: 200px;
  margin: 40px auto;
}

.signup-form {
  width: 90%;
  max-width: 400px !important;
  height: 200px;
  margin: 40px auto;
}