doctype html
html
  head
    title 404
    link(rel='stylesheet', href='/stylesheets/error.css')
  body
    .error
      h1.header Online Studio - 404
      .content
            p
              strong 尼采： 没有音乐，生活将是一种错误
            p 来源链接是否正确？用户或音乐是否存在？
            hr
            p
              a(href='/') 返回首页